<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
  <title>{{ title }}</title>
</head>

<body>
  <header><img src="./assets/5280_synchro_web.svg" height="50" /></header>
  <article>
    <div class="content-wrapper">
      <div class="slideshow-wrapper">
        <div class="list-wrapper">
          <ul class="list">
            <li class="item">
              <div class="content"><img class="slideshow" src="./images/image-slideshow-1.jpg" /></div>
            </li>
            <li class="item">
              <div class="content"><img class="slideshow" src="./images/image-slideshow-2.jpg" /></div>
            </li>
            <li class="item">
              <div class="content"><img class="slideshow" src="./images/image-slideshow-4.jpg" /></div>
            </li>
            <li class="item">
              <div class="content"><img class="slideshow" src="./images/image-slideshow-5.jpg" /></div>
            </li>
          </ul>
          <button onclick="handleClick('previous')" class="button button--previous" type="button">
            <span class="material-icons">
              chevron_left
            </span>
          </button>
          <button onclick="handleClick('next')" class="button button--next" type="button">
            <span class="material-icons">
              chevron_right
            </span></button>
        </div>
      </div>
      <div id="main-content">
        {{ content }}
      </div>
    </div>
  </article>
  <footer>
    <p>
      <span>5280 Synchro</span>
      <a class="social" href="mailto:admin@5280synchro.com"><i class="fas fa-envelope"></i></a>
      <a class="social" href="https://instagram.com"><i class="fab fa-instagram"></i></a>
      <a class="social" href="https://facebook.com"><i class="fab fa-facebook"></i></a>
    </p>
  </footer>
</body>
<script>
  const list = document.querySelector(".list");

  // We want to know the width of one of the items. We'll use this to decide how many pixels we want our carousel to scroll.
  const item = document.querySelector(".item");
  const itemWidth = item.offsetWidth-1;

  function handleClick(direction) {
    // Based on the direction we call `scrollBy` with the item width we got earlier
    if (direction === "previous") {
      list.scrollBy({ left: -itemWidth, behavior: "smooth" });
    } else {
      list.scrollBy({ left: itemWidth, behavior: "smooth" });
    }
  }
</script>

</html>